<link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
<style>
    .container {
        text-align: center;
        font-size: 30px;
        border: 2px solid black;
        margin-top: 200px;
        margin-left: 500px;
        margin-right: 450px;
        width: 450px;
        height: 200px;
        background-color: red;
        color: white;

    }
</style>
<div class="container">
    <div class="row">
        <div class="col">

            <p>Quieto ahi </p>
            <p>No tienes permiso para acceder ahi </p>
        </div>
    </div>
</div>